.ion-icon1 {
    font-size: 40vh; //Preferred size here
    color: #8F9092;
    padding-left: 5%;
}

span{
    font-size: 5vh;
}

.ion-grid1{
    height: 100%;
}
.ion-row1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
p{
    font-size: 2.5vh;
}

div{
    // height: 100%;
    // margin: 0;
    // padding: 0;
  }
  
  ion-img {
    // padding: 0;
    // display: block;
    height: 44vw;
    // width: 300px !;
    // margin: 0 auto;
    // max-height: 100%;
    // max-width: 100%;
  }

  ion-thumbnail{
    --size:100%
  }