<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon  name="person-circle"></ion-icon>
        {{data.userName}}
      </ion-button>
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="primary" (click)="logOut()">
      <ion-button >
        <ion-icon name="exit-outline"></ion-icon> 
        logout
      </ion-button>
    </ion-buttons>
    
    <ion-title>DashBoard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-segment (ionChange)="segmentChanged($event)" swipeGesture="true" value="javascript">
    <ion-segment-button value="python">
      <ion-label>Places To Visit</ion-label> 
    </ion-segment-button>
    <ion-segment-button value="javascript">
      <ion-label>Places Visited</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">

      <ion-tab-button tab="places-to-visit">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="places-visited">
        <!-- <ion-segment-button value="python"> -->
        <ion-icon name="calendar"></ion-icon>

          <ion-label>Places To Visit</ion-label> 
        <!-- </ion-segment-button> -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>




<!-- <ion-header>
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Default Buttons</ion-title>
</ion-toolbar>
</ion-header> -->